---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
---

<Layout>
  <section class="max-w-6xl mx-auto px-4 py-8 rounded-lg shadow-md mt-10">
    <h3 class="text-3xl font-bold mb-4 text-center text-balance">Conecta con nosotros</h3>
    <p class="text-center text-balance mb-6">
      Completa el formulario a continuación y nuestro equipo se pondrá en contacto contigo lo
      antes posible.
    </p>
    <form
      action="https://formspree.io/f/xjvowzqk"
      method="POST"
      class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md"
    >
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary text-secondary"
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Correo electrónico</label
        >
        <input
          type="email"
          id="email"
          name="_replyto"
          required
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary text-secondary"
        />
      </div>
      <div class="mb-4">
        <label for="message" class="block text-sm font-medium text-gray-700">Mensaje</label>
        <textarea
          id="message"
          name="message"
          rows="4"
          required
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary text-secondary"
        ></textarea>
      </div>
      <button
        type="submit"
        class="w-full bg-secondary hover:bg-primary hover:text-secondary hover:cursor-pointer text-white font-semibold py-2 px-4 rounded-md transition-colors duration-200"
      >
        Enviar mensaje
      </button>
    </form>
  </section>
</Layout>
