---
import Moneyicon from '../icons/moneyicon.astro'
import Transition from '../icons/transition.astro'
import Layout from '../layouts/Layout.astro'
import Cash from '../icons/cash.astro'
import '../styles/global.css'
import Coins from '../icons/coins.astro'
---

<Layout>
  <h3 class="text-3xl font-bold mb-4 text-center text-balance">
    Tus transacciones, con la seguridad y rapidez que necesitas, y la confianza que te mereces.
  </h3>
  <p>
    En Inversiones haplaz te ofrecemos una plataforma confiable y accesible para gestionar tus
    pagos y transacciones con rapidez y seguridad. Con nosotros, conectas fácilmente con tus
    clientes y proveedores, proteges tus operaciones frente a la volatilidad del mercado y
    optimizas tus costos para crecer sin límites.
  </p>
  <article class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 items-center">
    <div class="">
      <Moneyicon class="w-16 h-16 mb-2 text-balance text-tertiary" />
      <h4 class="text-xl font-semibold mb-2 text-balance">Pagos fáciles y confiables</h4>
      <p class="text-balance">
        Conecta tu negocio con proveedores y clientes a nivel global, usando nuestra
        infraestructura financiera confiable y accesible.
      </p>
    </div>
    <div>
      <Transition class="w-16 h-16 mb-2 text-balance text-tertiary" />
      <h4 class="text-xl font-semibold mb-2 text-balance">
        Transacciones rápidas y escalables
      </h4>
      <p class="text-balance">
        Manejamos un gran volumen de operaciones, asegurando procesos ágiles y eficientes para
        tu empresa.
      </p>
    </div>
    <div>
      <Cash class="w-16 h-16 mb-2 text-balance text-tertiary" />
      <h4 class="text-xl font-semibold mb-2 text-balance">Precios estables y previsibles</h4>
      <p class="text-balance">
        Protegemos tus operaciones locales del impacto de la volatilidad en los mercados
        globales.
      </p>
    </div>
    <div>
      <Coins class="w-16 h-16 mb-2 text-balance text-tertiary" />
      <h4 class="text-xl font-semibold mb-2 text-balance">Costos optimizados para crecer</h4>
      <p class="text-balance">
        Nuestra tecnología está diseñada para optimizar tus costos y ayudarte a escalar sin
        límites.
      </p>
    </div>
  </article>
</Layout>
