---
import Idea from '../icons/idea.astro'
import Users from '../icons/users.astro'
import Computer from '../icons/computer.astro'
import Benefit from './benefit.astro'
---

<section>
  <article class="text-center mb-8 text-balance">
    <h3 class="text-3xl font-bold" data-aos="fade-down">Lo Que Nos Impulsa</h3>
    <p class="text-lg mb-4" data-aos="fade-up">
      Impulsamos la digitalización financiera de empresas en Latinoamérica, facilitando su
      integración segura y ágil a la economía global.
    </p>
  </article>
  <Benefit />
</section>
