<section>
  <div>
    <h3>Lo Que Nos Impulsa</h3>
    <p>
      Impulsamos la digitalización financiera de empresas en Latinoamérica, facilitando su
      integración segura y ágil a la economía global.
    </p>
  </div>
  <article>
    <div>
      <h4>Eficiencia</h4>
      <p>
        Tenemos contratos sólidos y cláusulas de gestión de riesgo para protegerte. Brinda
        tranquilidad a tus clientes.
      </p>
    </div>
    <div>
      <h4>Seguridad</h4>
      <p>
        Ofrecemos soluciones rápidas y eficientes que se adaptan a las necesidades cambiantes
        de las empresas.
      </p>
    </div>
    <div>
      <h4>Cumplimiento</h4>
      <p>
        Contamos con avanzada tecnología KYC/AML para el conocimiento de cliente y monitoreo
        transaccional en tiempo real.
      </p>
    </div>
  </article>
</section>
