<header
  id="container"
  class="flex flex-col md:flex-row items-center justify-around mx-auto px-4 py-8 gap-8"
>
  <div class="flex flex-col items-start w-full max-w-[500px]">
    <h1 class="text-3xl md:text-5xl font-bold mb-4 text-pretty">
      Impulsamos a los negocios de Latinoamérica hacia la <b class="text-tertiary"
        >transformación digital</b
      > con confianza.
    </h1>
    <p class="text-base md:text-lg">
      Nuestra misión es revolucionar las transacciones en Latinoamérica mediante la
      digitalización financiera. Creamos un ecosistema ágil, seguro y escalable que permite a
      las empresas integrarse fácilmente a la economía global.
    </p>
  </div>
  <div class="flex flex-col items-center w-full max-w-md">
    <img
      src="/compromiso.png"
      alt="Compromiso con la transformación digital"
      class="flex-auto rounded-lg shadow-lg mt-8 md:mt-0 w-full max-w-xs md:max-w-md"
      loading="lazy"
    />
  </div>
</header>
