<article
  class="flex flex-col md:flex-row-reverse items-center justify-around mx-auto px-4 py-8 gap-8"
>
  <div class="flex flex-col items-start w-full max-w-[500px] gap-y-2">
    <h3 class="text-3xl font-bold" data-aos="fade-right" data-aos-delay="100">
      Innovación que da forma a la <b class="text-tertiary">economía del futuro</b>
    </h3>
    <p data-aos-delay="300" data-aos="fade-right">
      La tecnología y los activos digitales están redefiniendo no solo las finanzas globales,
      sino también la forma en que generamos valor en el mundo actual. En Inversiones haplaz
      nos enfocamos en acompañar a nuestros clientes para que aprovechen estas nuevas
      posibilidades de manera accesible, colaborativa y eficiente, construyendo juntos un
      futuro conectado y digital.
    </p>
  </div>
  <div data-aos="fade-left">
    <img
      src="/digital.png"
      alt="digital"
      class="flex-auto rounded-lg shadow-lg mt-8 md:mt-0 w-full max-w-xs"
    />
  </div>
</article>
