<nav class="flex justify-between text-primary text-lg">
  <h2>Haplaz</h2>
  <ul class="flex gap-x-4">
    <li><a href="/" class="hover:text-tertiary">Inicio</a></li>
    <li><a href="/about" class="hover:text-tertiary">Acerca de</a></li>
    <li><a href="/contact" class="hover:text-tertiary">Contacto</a></li>
  </ul>
</nav>
