<nav
  class="flex justify-between text-primary text-lg sticky top-0 bg-secondary/90 backdrop-blur-md max-w-6xl shadow-md w-full px-4 py-8 z-50"
>
  <h2>Haplaz</h2>
  <ul class="flex gap-x-4">
    <li><a href="/" class="hover:text-tertiary">Inicio</a></li>
    <li><a href="/servicio" class="hover:text-tertiary">Servicio</a></li>
    <li><a href="/contacto" class="hover:text-tertiary">Contacto</a></li>
  </ul>
</nav>
