---
import Footer from '../components/Footer.astro'
import NavBar from '../components/NavBar.astro'
import 'aos/dist/aos.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" type="image/svg+xml" href="/compromiso.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Inversiones Haplaz</title>
    <meta
      name="description"
      content="Soluciones digitales confiables y rápidas para llevar tu negocio a la era digital. Conecta con expertos en Inversiones Haplaz."
    />
    <meta
      name="keywords"
      content="Inversiones, Haplaz, soluciones digitales, negocios, transformación digital, expertos"
    />
    <meta name="author" content="Inversiones Haplaz" />
    <meta property="og:title" content="Inversiones Haplaz" />
    <meta
      property="og:description"
      content="Lleva tu negocio a la era digital con soluciones confiables y rápidas de Inversiones Haplaz."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/compromiso.png" />
    <meta property="og:url" content="https://inversioneshaplaz.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Inversiones Haplaz" />
    <meta
      name="twitter:description"
      content="Soluciones digitales confiables y rápidas para tu negocio."
    />
    <meta name="twitter:image" content="/compromiso.png" />
  </head>
  <body class="text-primary min-h-screen flex flex-col">
    <div
      class="[background:radial-gradient(125%_125%_at_50%_10%,#0c101b_40%,#000_100%)] fixed top-0 left-0 w-full h-full z-[-1] overflow-hidden"
    >
    </div>
    <main class="flex flex-col gap-y-4 max-w-6xl mx-auto">
      <NavBar />
      <slot />
    </main>
    <section class="text-center text-balance mt-10">
      <h3 class="text-3xl font-bold mb-4">
        Llevemos juntos tu negocio a la era <b class="text-tertiary">digital</b>
      </h3>
      <p>
        Completa el formulario y conecta con nuestro equipo de expertos. <br /> Te acompañaremos
        paso a paso para que accedas a soluciones confiables, rápidas y adaptadas a tu negocio.
      </p>
    </section>
    <Footer />
    <script>
      // [!code ++] // [!code focus]
      import AOS from 'aos' // [!code ++] // [!code focus]
      AOS.init() // [!code ++] // [!code focus]
    </script>
  </body>
</html>

<style>
  html {
    height: -webkit-fill-available;
  }
</style>
